.exemple {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.padding30 {
  padding: 30px;
}
.padding20 {
  padding: 20px;
}
.paddingtop {
  padding-top: 15px;
}

.alignleft {
  text-align: left;
}
.cor_azul {
  background-color: #cce7e1;
}
.cor_amarelo {
  background-color: #eff5b6;
}
